<div class="main-agileits">
   <div class="form-w3-agile">
      <h2>Find Your Password</h2>
      <form class="new_user" id="new_user" action="/users/password" accept-charset="UTF-8" method="post">
         <input name="utf8" type="hidden" value="✓">
         <input type="hidden" name="authenticity_token" value="1qYjCRCMkH0RjiBcIvaheSpbeOBnAI6PO9fW6ccc5zrm8ugWd5EGb22CuTt0LOwFXIjew9Ew8QdGWc5bfBG+4w==">        
        <div class="field">
            <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" placeholder="Email">
        </div>
        <div class="actions">
          <input type="submit" name="commit" value="Reset Password" data-disable-with="Send me reset password instructions">
        </div>
      </form>
   </div>   
</div>

