<div class="jumbotron home" align="center">
 <h1 class="display-2 title">BOOK WORM</h1>
  <p class="desc">A online community that share books in pdf form</p>
  <a href="/books"><button class="ctrl-standard typ-subhed fx-sliderIn">welcome</button></a>
</div>
