<div class="jumbotron home" align="center">
  <h1 class="display-2 title">BOOK WORM</h1>
   <p class="lead desc">A online community that share books in pdf form</p>
   <a href="https://www.google.com.co/"><button class="ctrl-standard typ-subhed fx-sliderIn">welcome</button></a>
</div>
