<div class="row index-books">
  <% @books.each_with_index do |book,index| %>
    <%= render 'book_card', book: book, index: index %>
  <% end %>
</div>

<a class="btn btn-primary" href="/books/new">Share my book</a>

<div class="apple_pagination">

  <%= will_paginate @books %>
</div>

<script type="text/javascript">
   var books=loadBooks();
</script>
