// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img
{
   max-width: 100%;
   min-width: 150px;
   min-height: 220px;
}

.book-img
{
  width: 60%;
}
.book-author
{
  text-transform: uppercase;
}
a
{
color:white
}

.book
{
 margin-bottom: 10%;
}
