<%= form_with model: @category, local: true do |form| %>
  <div class="form-group" >
      <a><%= form.label :name %></a><br>
      <%= form.text_field :name, class: "form-control rounded-0" %>
  </div>

  <p>
      <%= form.submit @submit, :class => "btn btn-primary btn-sm" %>
  </p>
<% end %>
